__pycache__/
*.pyc
node_modules/
examples/*/work/render_frames/
examples/*/work/gifframes/
examples/*/work/*.wav
examples/*/work/*.mp3
examples/*/work/*.json
examples/*/work/clips/
examples/*/work/stage.html
examples/*/out/*.mp4
*.mp4
.DS_Store
